<div class="container">
  <h3><p><%= @agent.first_name %></p></h3>
  <h4><p><%= @agent.email %></p></h4>

  <button class="btn btn-info">Call <%= @agent.first_name %></button>
  <button class="btn btn-success">Email <%= @agent.email %></button>
</div>
